header{
    background: rgb(91, 169, 233);
    position: fixed;
    width:100%;
    box-shadow:  
}
h1{
    text-align: right;
}
li{
    display: inline-block;
    font-size: 40px;
    margin-left:7%;
}
